<h2><%= @artist.name %></h2><hr>

<p>Gender: <%= @artist.gender.capitalize %></p>
<p>Date of Birth: <%= @artist.birth_day %></p>
<p>Date of Death: <%= @artist.death_day %></p>
<p>Hometown: <%= @artist.hometown %></p>
<p>Location: <%= @artist.location %></p>
<p>Nationality: <%= @artist.nationality %></p>
<h4>Biography</h4>
<p><%= @artist.biography %></p>


<%= link_to 'All Artists', artists_path %><hr>
